<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=serverlessdemosa;AccountKey=e8EMDyNe6x05ZGnaJ/wpR0eUKaG+K0atqlJae+GVQx6n3bNM4oW369YhLkz2INCES0jUa1VAOUTOCQS5QZK0tQ==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>